---
layout: default
title: Publications
authors: [manan, ashirwat]
---
<!-- <p>
    <a href="{{ site.base }}/bib/pubs.bib">Download BibTeX.</a>
</p> -->

{% assign pubs_sorted = site.data.pubs | sort: "date" | reverse %}

<section>
  <!-- <h2>Publications</h2> -->
  <!-- <p>&ast; - The authors have contributed equally</p> -->
  <table class="table">
    <tbody>
      {% assign prev_year = 1000 %}
      {% for pub in pubs_sorted %}
        {% if pub.pub-type == "conference" or pub.pub-type == "preprint" or pub.pub-type == "journal" or pub.pub-type == "workshop" %}
          {% include pub_entry.html pub=pub prev_year=prev_year show-badge=true %}
          {% assign prev_year = pub.date | date: "%Y" | plus: 0 %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</section>

<section>
  <h2>Patents</h2>
  <table class="table">
    <tbody>
      {% assign prev_year = 1000 %}
      {% for pub in pubs_sorted %}
        {% if pub.pub-type == "patent" %}
          {% include pub_entry.html pub=pub prev_year=prev_year %}
          {% assign prev_year = pub.date | date: "%Y" | plus: 0 %}
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
</section>
